<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/styles/output.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0a1c7b5f76.js" crossorigin="anonymous"></script>
    <title>Wiki Games</title>
</head>
<body class="bg-slate-900 font-mono">
    {{!-- Navbar --}}
    <nav class="flex justify-between max-w-screen-lg m-auto px-8 py-5">
        <a href="/" class="text-orange-500 font-bold text-2xl">wiki<strong class="text-white">Games</strong></a>
        {{#if isLogin}}
            <a href="/logout" class=" text-orange-500 font-semibold text-xl"><i class="fa-solid fa-arrow-right-to-bracket"></i> Logout</a>
        {{else}}
            <a href="/login" class=" text-orange-500 font-semibold text-xl"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
        {{/if}}
    </nav>

    {{!-- Content --}}
    <div class="max-w-screen-lg m-auto p-8">
        <h1 class="text-white text-center text-lg font-semibold mt-4">EDIT HERO</h1>
        <form class="m-auto max-w-md mt-10" action="/edit-hero/{{data.id}}" method="POST" enctype="multipart/form-data">
            <div class="mb-5">
                <label class="block text-white text-md mb-1" for="heroNameInput">Hero Name</label>
                <input value="{{data.name}}" class="rounded-md w-full p-1.5" id="heroNameInput" name="heroName" type="text" required>
            </div>
            <div class="mb-5">
                <label class="block text-white text-md mb-1" for="heroTypeInput">Hero Type</label>
                <select class="rounded-md w-full p-1.5" id="heroTypeInput" name="heroType" type="text" required>
                    {{#each type}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-12">
                <label class="block text-white text-md mb-1" for="photoInput">Photo</label>
                <input value="{{data.photo}}" class="bg-white rounded-md w-full p-1.5" id="photoInput" name="photo" type="file" required>
            </div>
            <button type="submit" class="bg-orange-500 text-white py-2 rounded-md w-full">Edit Hero</button>
        </form>
    </div>
</body>
</html>