<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/styles/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a1c7b5f76.js" crossorigin="anonymous"></script>
    <title>Wiki Games</title>
</head>
<body class="bg-slate-900 font-mono">
    {{!-- Navbar --}}
    <nav class="flex justify-between max-w-screen-lg m-auto px-8 py-5">
        <a href="/" class="text-orange-500 font-bold text-2xl">wiki<strong class="text-white">Games</strong></a>
        {{#if isLogin}}
            <a href="/logout" class=" text-orange-500 font-semibold text-xl"><i class="fa-solid fa-arrow-right-to-bracket"></i> Logout</a>
        {{else}}
            <a href="/login" class=" text-orange-500 font-semibold text-xl"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
        {{/if}}
    </nav>

    {{!-- Content --}}
    <div class="max-w-screen-lg m-auto p-8">
        <div class="">
            <div class="w-full p-2.5 bg-slate-800 rounded-md md:grid md:grid-cols-2">
                <img class="object-cover h-96 w-full rounded-md" src="/upload-files/{{data.photo}}">
                <div class="p-10 items-center flex flex-col justify-center">
                    <p class="text-white mt-2 text-xl font-semibold">Hero Name : {{data.name}}</p>
                    <p class="text-green-500 mb-4 mt-1">Hero Type : {{data.type}}</p>
                    {{#if isLogin}}
                    <div class="mt-8 flex gap-2">
                        <a href="/edit-hero/{{data.id}}" class="bg-orange-500 text-white px-8 py-1 rounded-md">Edit Hero</a>
                        <a href="/delete/{{data.id}}" class="bg-red-500 text-white px-8 py-1 rounded-md">Delete Hero</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>        
    </div>
    
</body>
</html>